.skills_container {
    position: relative;
    /* border: 1px solid yellow; */
    width: 80%;

}

.skills_content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem;
    justify-content: space-between;
    /* justify-content: flex-end; */
    align-items: center;
    /* border: 1px solid green; */


}

.skill_card {
    max-width: 300px;
    padding: 1rem;
    text-align: center;
    align-items: center;
    flex: 0 0 45%;
    background-color: rgba(255, 255, 255, 0.163);
    /* border: 1px solid red; */
    /* box-shadow: 1px 3px 3px 7px rgba(180, 178, 178, 0.24); */

}

.skills_title {
    text-align: center;

}

.skill_card h3 {
    padding: 0.4rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: color 0.2s ease-in-out;

}
.skill_card h3:hover {
    color: rgb(216, 216, 216);

}

.skill_card p {
    padding: 0.2rem;

}

.skill_description {
    position: absolute;
    bottom: -20%;

}