.header {
    width: 100%;
    display: flex;
    gap: 1rem;
    height: 150px;
    border-bottom: 2px solid white;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;

}

.personalInfo {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 0.2rem;
    /* justify-content: flex-start; */

}

.personal_info_item span {
    /* font-family: "Sansation", sans-serif; */
    font-weight: 700;
    font-style: normal;
    /* color: rgb(251, 253, 254); */
    padding-right: 0.3rem;

}

@media screen and (max-width: 400px) {
    .header {
        height: 170px;
        padding-bottom: 2.4rem;


    }

}