ul {
  list-style: none;
  text-decoration: none;
}

.containerApp {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 3rem;
  min-height: 100vh;


}

.section_1 {
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  z-index: 100;
  /* border: 1px solid pink; */

}

@media screen and (max-width: 768px) {
  .section_1 {
    flex-direction: column;
    margin-bottom: 5%;

  }

}
